body {
  font-family: Roboto, Arial, sans-serif;
  text-align: center;
  background-color: #1f1f1f;
  color: white;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 300px;
}

#image-container {
  display: flex;
  justify-content: center;
  max-width: 211111140px;
  height: auto;
  border-radius: 8px;
  background-color: #1f1f1f;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin-bottom: 48px;
}

#game-image {
  background-color: #1f1f1f;
}


.input {
  color: white;
  background-color: #F8F0E3;
  border-radius: 8px;
  margin-bottom: 24px;
}

.guess-left {
  margin-bottom: 12px;
}

.heart {
  color: red;
}


.letter-box {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 18px;
}

.correct {
  background-color: green;
}

.present {
  background-color: yellow;
}

.absent {
  background-color: lightgray;
}